[submodule "types"]
	path = types
	url = https://github.com/bahrus/types.git
[submodule "face-up"]
	path = face-up
	url = https://github.com/bahrus/face-up.git
[submodule "be-reflective"]
	path = be-reflective
	url = https://github.com/bahrus/be-reflective.git
[submodule "truth-sourcer"]
	path = truth-sourcer
	url = https://github.com/bahrus/truth-sourcer.git
[submodule "font-face-feature"]
	path = font-face-feature
	url = https://github.com/bahrus/font-face-feature.git
[submodule "templ-maker"]
	path = templ-maker
	url = https://github.com/bahrus/templ-maker.git
[submodule "id-referencer"]
	path = id-referencer
	url = https://github.com/bahrus/id-referencer.git
[submodule "swipe-dismiss"]
	path = swipe-dismiss
	url = https://github.com/bahrus/swipe-dismiss.git
[submodule "focus-trap-feature"]
	path = focus-trap-feature
	url = https://github.com/bahrus/focus-trap-feature.git
[submodule "h2o-table"]
	path = h2o-table
	url = https://github.com/bahrus/h2o-table.git
